h1 {
  border-width: 200px;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 25px 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
}

p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: gray;
}

button:hover {
  background-color: cyan;
}

.list-group {
  align-content: left;
}
